*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background: url(bg.jpg);
    background-size: cover;
    font-family: sans-serif;
}
.loginBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 420px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .5);
}
.user{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);
}
h2{
    margin: 0;
    padding: 0 0 20px;
    color: #efed40;
    text-align: center;
}
.loginBox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}
.loginBox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginBox input[type="text"], .loginBox input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
::placeholder{
    color: rgba(255,255,255,.5);
}
.loginBox input[type="submit"]{
    border:none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: #ff267e;
    cursor: pointer;
    border-radius: 20px;
}
.loginBox input[type="submit"]:hover{
    background: #efed40;
    color: #262626;
}
.loginBox a{
    color:#fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.social{
    position: fixed;
    left: 0;
    top: 200px;
    z-index: 2000;
}
.social ul{
    list-style: none;
}
.social ul li a{
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    transition: all 500ms;
}
.social ul li .icon-facebook{
    background: #3b5998;
}
.social ul li .icon-twitter{
    background: #00abf0;
}
.social ul li .icon-google-plus{
    background: #d95232;
}
.social ul li .icon-pinterest{
    background: #ae181f;
}
.social ul li .icon-mail{
    background: #666666;
}
.social ul li a:hover{
    padding: 10px 30px;
    background: #000;
}